{% extends "baseMap.html" %}



{% block content %}
    <script>
    function showGoogleMaps(pos) {
        var latLng = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);

        var mapOptions = {
            zoom: 16, // initialize zoom level - the max value is 21
            streetViewControl: false, // hide the yellow Street View pegman
            scaleControl: true, // allow users to zoom the Google Map
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: latLng
        };

        map = new google.maps.Map(document.getElementById('googleMaps'),
            mapOptions);

        // Show the default red marker at the location
        marker = new google.maps.Marker({
            position: latLng,
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP
        });


        {% for emergency in emergencies %}
        var latLng1 = new google.maps.LatLng({{ emergency.latitude }}, {{ emergency.longitude }});


        var infoWindow = new google.maps.InfoWindow({
            content: "{{ emergency.name }}" + "{{ emergency.contact }}",
            maxWidth: 200
        });
        var marker1 = new google.maps.Marker({
            position: latLng1,
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
        });
        google.maps.event.addListener(marker1, 'click', (function (marker1, content, infoWindow) {
            return function () {
                infoWindow.open(map, marker1);
            };
        })(marker1, infoWindow.content, infoWindow));

        {% endfor %}
    }
    navigator.geolocation.getCurrentPosition(showGoogleMaps);

    </script>

{% endblock %}